#headerDiv {
    margin: auto;
}

h1 {
    max-width: 400px;
    font-size: 25px;
    margin: auto;
}

#content {
    flex-grow: 1;
    flex-direction: column;
    background-color: #f2e6d5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 200px;
}

#content-block {
    margin: auto;
    flex-grow: 1;
    flex-direction: column;
    background-color: #f2e6d5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    padding-top: 2.5%;
    min-width: 400px;
    width: 100%;
}

#subtitle {
    font-size: 30px;
    margin-bottom: 10px;
}

#scheduleTable {
    border: 2px solid #5a4a3f;
    border-radius: 20px;
}